<p id="notice"><%= notice %></p>


<h1>Electronic Press Kit</h1>



  

  <div class="row posts-wrapper"> 
    <% @posts.each do |post| %>
        <div class="post">
          <div class="post-head">
            <div class="name">
              <p>Jonathan Reynolds</p>
            </div>
          </div>
          <div class="image center-block">
            <%= link_to (image_tag(post.image.url(:medium),class: 'img-responsive')), post %>
          </div>
          <p class= "caption"><%= post.caption %></p>
          <%= link_to 'Show', post, class: 'btn btn-link' %>
          <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-link' %>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-link' %>
        </div>
     <% end %>
  </div>   
    


<br>