<p id="notice"><%= notice %></p>


<h1>Electronic Press Kit</h1>



  

  <div class="row posts-wrapper"> 
    <% @posts.each do |post| %>
        <div class="post">
          <div class="post-head">
            <div class="name">
              <p><%= post.user.user_name %></p>
            </div>
          </div>
          <div class="image center-block">
            <%= link_to (image_tag(post.image.url(:medium),class: 'img-responsive')), post %>
          </div>
          <div class="post-bottom">
            <div class= "caption">
              <div class= "name">
                <%= post.user.user_name %>
              </div>
              <%= post.caption %>
              <% if post.comments %>
                <% post.comments.each do |comment| %>
                  <div class="comment">
                    <div class="name">
                      <%= comment.user.user_name %>
                    </div>
                    <div class="comment-content">
                      <p><%= comment.content %></p>
                      <% if comment.user == current_user %>
                        <%= link_to post_comment_path(post, comment), method: :delete, data: {confirm: "Are you sure?"} %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% end %>
              <div class="comment-form">
                <%= form_for [post, post.comments.new] do |f| %>
                  <%= f.text_field :content, placeholder: 'Add a comment...' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
     <% end %>
  </div>   